body {
    background: rgb(248,47,59);
background: linear-gradient(90deg, rgba(248,47,59,0.20) 0%, rgba(251,90,54,0.20) 50%, rgba(255,166,46,0.20) 100%);
    font-family: 'Open Sans';
}

.title img{
    width: 300px;
}

.nav {
    display: flex;
}

.button {
    font-size:15px;
    margin-left: 50px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:18px;
    border-top-right-radius:18px;
    border-bottom-left-radius:18px;
    border-bottom-right-radius:18px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 50px #810e05;
    background:linear-gradient(#c62d1f, #f24437);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(#f24437, #c62d1f);
}

.buttons {
    position: absolute; 
    right: 0px;
}